/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */


/* ---- layout ---- */


.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

.load-screen h1{
  display: block;
  margin: 0;
  font-size: 30px;
}

.load-screen{
  text-align: center;
  background-image: url(background-girl.png);
  height: 667px;
}

.load-screen .top{
  padding-top: 30px;
}

/* ---- header ---- */

/* ---- footer ---- */

/* ---- components ---- */
p {
  font-size: 25px;
}

.hero-img{
  height: 300px;
}

.scroll-arrow{
  height: 30px;
  animation: shake 2.0s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(0, 2px, 0);
  }
  
  20%, 80% {
    transform: translate3d(0, -2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(0, 2px, 0);
  }

  40%, 60% {
    transform: translate3d(0, -2px, 0);
  }
}

/* ---- css shame ---- */

